NODE_ENV=development
PORT=4000

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=amai_db

# Valores para AWS real. Docker Compose los reemplaza con Floci.
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
# COGNITO_ENDPOINT=
# COGNITO_ISSUER=
# COGNITO_JWKS_URI=

ENCRYPTION_KEY=
ENCRYPTION_IV=
